input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 18px;
    outline: none;
    height: 30px;
    width: 500px;
}

html,
body {
    height: 95%;
    background-size: cover;

}

#icn{
    background-color: transparent;

}
